#repo_search {
  padding: 30px;

  #search_form {
    display: inline-block;
    margin-right: 20px;

    input {
      width: 500px;
      font-size: 12px;
      padding: 2px;
    }
  }

  #search_btn {
    font-size: 12px;
    padding: 2px;
    width: 100px;
  }


  &.empty {
    width: 100%;
    text-align: center;

    #search_form {
      display: block;
      margin-right: 0;
      margin-top: 150px;
      margin-bottom: 40px;

      input {
        width: 500px;
        font-size: 18px;
        padding: 4px;
      }
    }

    #search_btn {
      font-size: 20px;
      padding: 4px;
    }
  }

  #results {
    margin-bottom: 20px;

    td {
      padding: 5px;
      &.name {
        padding-right: 40px;
      }
    }
  }

  .error {
    color: #bb0000;
  }
}